/* @import url('https://fonts.googleapis.com/css2? family= Oswald:wght@700 & display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
.titulo {
  color: #31c6d4;
  width: 300px;
  font-size: 50px;
  height: 80px;
  background-color: #162c99;
  text-align: center;
  border-radius: 15px;
}
.subtitulo {
  color: #31c6d4;
  font-size: 30px;
}

#Seleccionar-Ataque {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Seleccionar-Mascota {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seleccionMokepom {
  color: #31c6d4;
  width: 140px;
  height: 100px;
  background-color: #162c99;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seleccionMokepom:hover,
.seleccionMokepom:checked {
  box-shadow: 0 0 40px 40px #1f9cd6 inset;
  color: rgb(255, 187, 1);
}

.seleccionMokepom img {
  width: 55px;
}
.tarjetas,
.tarjeta-ataques {
  display: flex;
}

#boton-mascota {
  font-family: "Oswald", sans-serif;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-color: #1f9cd6;
  color: #cce9f7;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 15px;
}
#boton-mascota:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  border-radius: 15px;
}

input {
  display: none;
}
#Seleccionar-Ataque {
  align-items: center;
  flex-direction: column;
}
#fuego {
  background-color: rgb(226, 5, 5);
  color: rgb(74, 244, 244);
  font-family: "Oswald", sans-serif;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 15px;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#fuego:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  border-radius: 15px;
}
#tierra {
  background-color: rgb(53, 105, 2);
  color: rgb(74, 244, 244);
  font-family: "Oswald", sans-serif;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 15px;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#tierra:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  border-radius: 15px;
}
#agua {
  background-color: #162c99;
  color: rgb(74, 244, 244);
  font-family: "Oswald", sans-serif;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border-radius: 15px;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#agua:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  border-radius: 15px;
}

#mensajes {
  color: #31c6d4;
  width: 180px;
  background: #162c99;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
#reinicio {
  color: #31c6d4;
  background: #162c99;
  border-radius: 10px;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#reinicio:hover {
  box-shadow: 0 0 40px 40px #1f9cd6 inset;
}

body {
  background-color: darkcyan;
  font-family: "Oswald", sans-serif;
}

.ataques-vidas {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  text-align: center;
}

.ataques-jugador {
  color: #31c6d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
.ataques-rival {
  color: #31c6d4;
  margin: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
#mascota-rival {
  margin-top: 32px;
}
#Rival {
  margin: 17px;
}

#VerMapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#subtitulo {
  display: flex;
  font-family: "Oswald", sans-serif;
}
#VerMapa button {
  font-family: "Oswald", sans-serif;
  width: 100px;
  height: 30px;
  margin: 5px 0;
  border-color: #1f9cd6;
  color: #cce9f7;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 15px;
  user-select: none;
}

@media (max-width: 480px) {
  .tarjetas,
  .tarjeta-ataques {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  #VerMapa div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
